<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>
    <button id="search-toggle" type="button">
        <span class="sr-only">Toggle Search Form</span>
    </button>
    <a id="logo" href="/">
        <span class="sr-only">XinicsTech</span>
    </a>
    <form id="search">
        <input id="searchQueryEdit" name="q" type="search" placeholder="Search..." value="" />
    </form>
    <ul id="menu" class="nav">
        <li class="{% if page.url != '/about/' and page.url != '/jobs/' %} active {% endif %}"><a href="{{ base_path }}/">블로그</a></li>
        <li class="{% if page.url == '/jobs/' %} active {% endif %}"><a href="{{ base_path }}/jobs/">채용정보</a></li>
    </ul>
</div><!-- #header -->
